body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: transparent; /* Cambiado de #add8e6 a transparent */
}

.container {
    width: 80%;
    max-width: 500px; /* Cambiado de 600px a 500px */
    margin: 20px auto;
    overflow-y: auto;
}

h1 {
    text-align: center; /* Asegura que el título esté centrado */
    margin: 0 0 20px; /* Añade espacio debajo del título */
}

.jugador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000; /* Borde del rectángulo */
    padding: 10px;
    margin-bottom: 10px; /* Espacio entre los rectángulos */
}

/* Actualizaciones para negrita aquí */
.posicion, .nombre, .puntos {
    font-weight: bold; /* Hace que el texto sea en negrita */
}

.nombre {
    flex-grow: 1;
    margin: 0 10px; /* Espacio a los lados del nombre */
}

.puntos {
    white-space: nowrap; /* Asegura que los puntos siempre estén en una sola línea */
}

#buscadorJugador {
    display: block;
    width: 60%; /* Ajusta el ancho a tu preferencia */
    margin: 20px auto; /* Centra el elemento horizontalmente y añade margen superior e inferior */
    padding: 8px; /* Añade algo de espacio dentro del campo para el texto */
    font-size: 16px; /* Tamaño del texto dentro del campo de búsqueda */
    border: 1px solid #000; /* Estilo de borde para coincidir con el diseño general */
    border-radius: 4px; /* Esquinas redondeadas para el campo de búsqueda */
}
