body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: transparent;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
}

.jugador {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    margin-bottom: 10px;
    position: relative; /* Se mantiene para posicionar correctamente el banner */
}

.banner-jugador {
    width: 100%;
    padding: 10px; /* Se mantiene para el contenido sobre el banner */
    background-size: cover; /* Se mantiene para asegurar que el banner cubra el espacio asignado */
    background-position: center; /* Se mantiene para centrar el banner */
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del banner */
}

.imagen-posicion {
    width: 50px; /* Ancho fijo para la imagen de posición */
    margin-right: 10px; /* Espacio entre la imagen de posición y el nombre del jugador */
}

.detalle-jugador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px); /* Ajusta el ancho para acomodar la imagen de posición */
    color: white; /* Se mantiene para asegurar que el texto contraste con el banner */
}

/* Se mantiene las actualizaciones para negrita */
.posicion, .nombre, .puntos {
    font-weight: bold;
}

.nombre {
    flex-grow: 1;
    margin: 0 10px;
}

.puntos {
    white-space: nowrap;
}

#buscadorJugador {
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    position: relative; /* Añadido para permitir ajustes de posición precisos */
    top: 0px; /* Mueve el buscador hacia abajo desde su posición normal */
    right: 0px; /* Mueve el buscador hacia la izquierda desde su posición normal */
    bottom: 0px; /* Mueve el buscador hacia arriba desde su posición normal */
    left: 20px; /* Mueve el buscador hacia la derecha desde su posición normal */
}
